.pantalla{
    display:none;
    position:absolute;
    top: 20%;
    background-color: #2b4277;
    padding: 20%;
  }

  body {
    font-family: "sans serif";
    text-align: center;
    background: #2b4277;
    line-height: 25px;
  }

  .boton{
    border: none;
    border-radius: 10px;
    background-color: #797A71;
    color: white;
    padding: 8px 16px;
    left: 40%;
    display: inline-block;
    border-bottom-color: black;
    border-width: 2px;
  }

  h1 {
   font-size: 80px; 
   width: 50%;
   margin: auto;
   padding: 8px 16 px;
   color: #EAEF41; 
   text-align: center;
  }

  p {
    color: white;
    font-family: Arial;
  }